<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // set up hover panels
            // although this can be done without JavaScript, we've attached these events
            // because it causes the hover to be triggered when the element is tapped on a touch device
            $('.hover').hover(function () {
                $(this).addClass('flip');
            }, function () {
                $(this).removeClass('flip');
            });
        });
    </script>

</head>
<body>
    <div id="wrapper">
    <div id="headingContainer">
        <div id="headingBanner">
            <img src="~/Content/Images/bannerfans_11101131.jpg" alt="LanguageInformantBanner" style="width:inherit; height:inherit;" />
        </div>
        <div id="logoBox">
            <img src="~/Content/Images/Logo.png" alt="LanguageInformantLogo" style="width:inherit; height:inherit;" />
        </div>
    </div>
    <div id="userCourseBox">
            @Html.Partial("_LoginPartial")
    </div>
        <div id="contentBox">
            <div id="siteMapPath" style="">
        @Html.MvcSiteMap().SiteMapPath()
            </div>
        @RenderBody()
    </div>
        <div id="footer">
        <p style="text-align:center">&copy The Language Informant Team, 2014</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        </div>
</body>
</html>