@model LanguageInformant.WebUI.Models.Grade

@{
    ViewBag.Title = "Quiz Grade";
    
}

<div id="wrapper" style="width:100%; padding:10px;">
    <div id="container1" style="border:dashed medium; width:95%; height:400px; float:left; margin-left:5px; padding:5px;">
        <h2>Grade</h2>
	    <div style="float:left; width:95%;">
	    Quiz Name: @Model.Quiz.Name
	    <br />
	    Total Questions: @Model.Quiz.Questions.Count
	    <br />
	    Your Score: @Model.Score / @Model.TotalPoints
	    </div>
        <br />
	    @foreach (var question in Model.Quiz.Questions)
	    { 
	        @Html.Partial("_question", question);
        } 

        
    </div>
    
   
    

</div>
