
@{
    ViewBag.Title = "The Language Informant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" style="width:100%;">
<h1 style="margin-top:5px; margin-bottom:2px;">Welcome to the Language Informant</h1>
<h2 style="margin-top:0px; margin-bottom:0px;">An exciting way to learn a new language</h2>
<p style="margin-top:2px; margin-bottom:2px;">This site is still under construction.
    Minor functionality will be implemented to demonstrate our Alpha Release.
    Users can hover over tiles below to reveal navigation to other pages in the site. <br />
    Enjoy!
</p>
<div id="content" style="width:100%;">
<div id="panelRow1" style="width:375px; margin-left:110px;">
    <div class="hover panel" style="float:left;">
        <div class="front" style="font-weight: bold; border-radius:8px 8px; border: ridge thick ButtonShadow; background-color:crimson;">
            <div class="pad">
                <p>Learn more about us</p>
                <p>Access Admin Portal (Temp)</p>
            </div>
        </div>
        <div class="back" style="border:inset thick crimson; border-radius:8px 8px; background-color:crimson;">
            <div class="pad">
                <div class="padback"
                @Html.ActionLink("About Us", "About", "Home")
                <br />
                @Html.ActionLink("Admin Portal", "Index", "Admin")
                </div>
            </div>
        </div>
    </div>
    
    <div class="hover panel" style="float:left; margin-left:20px;">
        <div class="front" style="font-weight: bold; border-radius:8px 8px; border: ridge thick ButtonShadow; background-color:crimson;">
            <div class="pad">
                <p>Check out our Dictionary here</p>
            </div>
        </div>
        <div class="back" style="border:inset thick crimson#dc143c; border-radius:8px 8px; background-color:crimson;">
            <div class="pad">
                <div class="padback">
                @Html.ActionLink("Dictionary Link", "Dictionary", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
<div id="panelRow2" style="width:375px; margin-left: 110px; " >
    <div class="hover panel" style="float:left; margin-top:15px;">
        <div class="front" style="font-weight: bold; border-radius:8px 8px; border: ridge thick ButtonShadow; background-color:crimson;">
            <div class="pad">
                <p>Lessons can be found here</p>
            </div>
        </div>
        <div class="back" style="border:inset thick crimson; border-radius:8px 8px; background-color:crimson;">
            <div class="pad">
                <div class="padback">
                @Html.ActionLink("Course Page", "Course", "Home")
                </div>
            </div>
        </div>
    </div>
    <div class="hover panel" style="float:left; margin-left:20px; margin-top:15px;">
        <div class="front" style="font-weight: bold; border-radius:8px 8px; border: ridge thick ButtonShadow; background-color:crimson;">
            <div class="pad">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="back" style="border:inset thick crimson; border-radius:8px 8px; background-color:crimson;">
            <div class="pad">
                <div class="padback">
                @*@Html.ActionLink("Need to Contact Us?", "Contact", "Home")
                <br />*@
                @Html.ActionLink("Send us some feedback", "Contact", "Home")
                </div>
                </div>
        </div>
    </div>
</div>
   
</div>
<div id="imageBox" style="width:150px; height:300px; margin-left:500px; ">
    <img src="~/Content/Images/wordle.png" height="230" width="230"/>
    </div>
</div>
