
@{
    ViewBag.Title = "The Language Informant";
}

<div id="wrapper" style="width:100%; padding:10px;">
<h1 style="margin-top:5px; margin-bottom:2px;">Welcome to the Language Informant</h1>
<h2 style="margin-top:0px; margin-bottom:0px;">An exciting way to learn a new language</h2>
<p style="margin-top:2px; margin-bottom:2px;">This site is still under construction.
    Minor functionality will be implemented to demonstrate our Alpha Release.
    Users can hover over tiles below to reveal navigation to other pages in the site. <br />
    Enjoy!
</p>
<div id="content" style="width:100%;">
<div id="panelRow1" style="width:375px; margin-left:110px;">
    <div class="hover panel" style="float:left;">
        <div class="front" style="border:dotted medium; background-color:crimson;">
            <div class="pad">
                <p>Log In to the site here</p>
                <p>Access Admin Portal (Temp)</p>
            </div>
        </div>
        <div class="back" style="border:dotted medium; background-color:ButtonShadow;">
            <div class="pad">
                @Html.ActionLink("Log In with existing account", "LogIn", "Account")
                <br />
                @Html.ActionLink("Create a new account", "Register", "Account")
                <br />
                @Html.ActionLink("Admin Portal", "Index", "Admin")
            </div>
        </div>
    </div>
    
    <div class="hover panel" style="float:left; margin-left:20px;">
        <div class="front" style="border:dotted medium; background-color:crimson;">
            <div class="pad">
                <p>Check out our Dictionary here</p>
            </div>
        </div>
        <div class="back" style="border:dotted medium; background-color:ButtonShadow;">
            <div class="pad">
                @Html.ActionLink("Dictionary Link", "Dictionary", "Home")
            </div>
        </div>
    </div>
</div>
<div id="panelRow2" style="width:375px; margin-left: 110px; " >
    <div class="hover panel" style="float:left; margin-top:15px;">
        <div class="front" style="border:dotted medium; background-color:crimson;">
            <div class="pad">
                <p>Lessons can be found here</p>
            </div>
        </div>
        <div class="back" style="border:dotted medium; background-color:ButtonShadow;">
            <div class="pad">
                @Html.ActionLink("Lesson Link", "Index", "Lesson")
                @Html.ActionLink("Course Page", "Course", "Home")
            </div>
        </div>
    </div>
    <div class="hover panel" style="float:left; margin-left:20px; margin-top:15px;">
        <div class="front"style="border:dotted medium; background-color:crimson;">
            <div class="pad">
                <p>Contact Info will be hanging out here</p>
            </div>
        </div>
        <div class="back" style="border:dotted medium; background-color:ButtonShadow;">
            <div class="pad">
                @Html.ActionLink("Need to Contact Us?", "Contact", "Home")
                @Html.ActionLink("Send us some feedback", "Contact", "Home")
            </div>
        </div>
    </div>
</div>
   
</div>
<div id="imageBox" style="width:150px; height:300px; margin-left:500px; border:dotted medium; ">

    </div>
</div>
