@model IEnumerable<LanguageInformant.Domain.Entities.Lesson>

@{
    ViewBag.Title = "Lesson List";
}

<h2>Lesson List</h2>

<table class="table">
    <tr class="alternate">
        <th width="20%">
            Lesson Name
        </th>
        <th width="60%">
            Description
        </th>
        <th colspan="3">
            <div class="mgmtButton">
                @Html.ActionLink("Create New", "Create")
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="details">
            <td class="alternate" style="padding-left:10px;">
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Edit", "Edit", new { item.LessonID })
                </div>
            </td>

            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Details", "Details", new { item.LessonID })
                </div>
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Delete", "Delete", new { item.LessonID })
                </div>
            </td>
        </tr>
    }

</table>