@model LanguageInformant.Domain.Entities.Vocabulary


@{
    ViewBag.Title = "Edit Words";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.VocabularyID)
    <table id="Editor">
        <tr>
            <th align="center">
                <h2>Editing Words for @Model.Name</h2>
            </th>
        </tr>
        <tr>
            <td align="center">
                <h4>All Words</h4>
                @Html.ListBox("WordList")
            </td>


            <td align="center">
                <h4>Words assigned to @Model.Name</h4>
                @Html.ListBox("VocabularyWords")
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" name="add" id="add" value=">>" />
            </td>
            <td align="center">
                @Html.ActionLink("Delete Word", "DeleteWords", "Vocabulary")
                @*<input type="submit" name="remove" id="remove" value="<<" />*@
            </td>
        </tr>
    </table>

}