@model IEnumerable<LanguageInformant.Domain.Entities.Vocabulary>
@using LanguageInformant.Domain.Entities

@{
    ViewBag.Title = "List";
}
<h2>Vocabulary List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr class="alternate">
        <th width="20%">
            Vocabulary Name
        </th>
        <th width="40%">
            Lesson
        </th>
        <th colspan="5">
            <div class="mgmtButton">
                @Html.ActionLink("Create Vocabulary", "Create")
            </div>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="details">
            <td class="alternate">
                @item.Name
            </td>
            <td>
                @item.Lesson
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Edit", "Edit", new { item.VocabularyID })
                </div>
            </td>

            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Details", "Details", new { item.VocabularyID })
                </div>
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Delete", "Delete", new { item.VocabularyID })
                </div>
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Assign Words", "AssignWords", new { item.VocabularyID})
                </div>
            </td>
            <td>
                <div class="mgmtButton">
                    @Html.ActionLink("Delete Words", "DeleteWords", new { item.VocabularyID})
                </div>
            </td>
        </tr>
    }
</table>
