@model LanguageInformant.Domain.Entities.Word

<div>
    <h4>Word</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoundVol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoundVol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
