@model LanguageInformant.Domain.Entities.Word

@{
    ViewBag.Title = "WordDetails";
}

<h2>WordDetails</h2>

<div>
    <h4>Word</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound)
            <audio controls src="@Url.Action("LoadAudio", new { id = Model.WordID } )"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoundVol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoundVol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.WordID }) |
    @Html.ActionLink("Back to List", "List")
</p>
