@model IEnumerable<LanguageInformant.Domain.Entities.Word>
@using LanguageInformant.Domain.Entities

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoundVol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <th>
        </th>
        <td>
            <audio class="player" controls src="@Url.Action("GetSound", new { item.WordID })" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoundVol)
        </td>
        <td>
            @Html.ActionLink("Edit Sound", "EditSound", new {item.WordID}) |
            @Html.ActionLink("Edit", "Edit", new { item.WordID }) |
            @Html.ActionLink("Details", "Details", new { item.WordID }) |
            @Html.ActionLink("Delete", "Delete", new { item.WordID }) |
            @Html.ActionLink("Edit Meanings", "EditMeanings", new { item.WordID })
        </td>
    </tr>
}

</table>
