@model LanguageInformant.Domain.Entities.Meaning

@{
    ViewBag.Title = "DeleteMeaning";
}

<h2>Delete Meaning</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meaning Name: @Model.Name</h4>
    <hr />
    <h4>Meaning Defintion: @Model.Description</h4>
    
    @if (Model.ImageData == null)
    {
        @:None
    }
    else
    {
        <h4>Meaning Image: </h4><img width="100" height="100" src="@Url.Action("GetPicture", "Meaning", new { Model.MeaningID })" />
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="mgmtButton" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
