@model LanguageInformant.Domain.Entities.Meaning

@{
    ViewBag.Title = "Meaning Details";
}

<h2>Meaning Details</h2>

<div>
	<hr />
        <h4>
            Name: 
        </h4>
            
        @Html.DisplayFor(model => model.Name)
        

        <h4>
            Defintion: 
        </h4>

        
            @Html.DisplayFor(model => model.Description)
        

        <h4>
            Picture: 
        </h4>

                @if (Model.ImageData == null)
                {
                    @:None
                }
                else
                {
                    <img width="100" height="100" src="@Url.Action("GetPicture", "Meaning", new { Model.MeaningID })" />
                }
</div>

    <div class="mgmtButton">
    @Html.ActionLink("Edit", "Edit", new { Model.MeaningID })
    </div>
    <div class="mgmtButton">
    @Html.ActionLink("Back to List", "List")
    </div>
