@model IEnumerable<LanguageInformant.Domain.Entities.Meaning>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Meaning Name
        </th>
        <th>
            Definition
        </th>
        <th>
            Picture
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @if (item.ImageData == null)
            {
                @:No Picture
            }
            else
            {
            <img width="75" height="75" src="@Url.Action("GetPicture", "Meaning", new { item.MeaningID })" />
            }
                </td>
        <td>
            @Html.ActionLink("Edit", "EditMeaning", new { item.MeaningID }) |
            @Html.ActionLink("Details", "Details", new { item.MeaningID }) |
            @Html.ActionLink("Delete", "Delete", new { item.MeaningID })
        </td>
    </tr>
}

</table>
