@model IEnumerable<LanguageInformant.Domain.Entities.Meaning>

@{
    ViewBag.Title = "Meaning List";
}

<h2>Meaning List</h2>

<table class="table">
    <tr class="alternate">
        <th width="20%">
            Meaning Name
        </th>
        <th width="40%">
            Definition
        </th>
        <th width="20%">
            Picture
        </th>
        <th colspan="3">
        <div class="mgmtButton">
            @Html.ActionLink("Create New", "Create")
        </div>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="details">
        <td class="alternate">
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @if (item.ImageData == null)
            {
                @:No Picture
            }
            else
            {
            <img width="50" height="50" src="@Url.Action("GetPicture", "Meaning", new { item.MeaningID })" />
            }
                </td>
        <td>
            <div class="mgmtButton">
            @Html.ActionLink("Edit", "Edit", new { item.MeaningID })
            </div>
        </td>
            
        <td>
            <div class="mgmtButton">
            @Html.ActionLink("Details", "Details", new { item.MeaningID })
            </div>
        </td>
        <td>
            <div class="mgmtButton">
            @Html.ActionLink("Delete", "Delete", new { item.MeaningID })
            </div>
        </td>
    </tr>
}

</table>
